body{
//     background-image: url('../images/cloud.svg');
//     background-repeat: no-repeat;
//     background-size: cover;
    font-family: Avenir,Verdana,sans-serif;
   }
  .main {
    height: 1000px;
    position: relative;
    //border: 3px solid green;
  }
  
  .main .content {
    margin: 0;
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main .content img{
      border-radius: 50%;
  }