<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
    <head>
        <title>Portfolio</title>
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <meta name="viewport" content="width=device-width" />

    </head>
    <body
        class="h-full overflow-x-hidden bg-black text-white text-base selection:bg-secondary selection:text-white"
    >
        <slot />
    </body>
</html>
