---
import Logo from "../logo.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
    <head>
        <title>{title}</title>
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <meta name="viewport" content="width=device-width" />
        <style is:global>
            body {
                margin: 0;
                background: black;
            }
            img {
                width: 100vw;

                display: block;
            }
        </style>
    </head>
    <body>
        <Logo />
        <slot />
    </body>
</html>
