---
import Logo from "../logo.astro";
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{frontmatter.title}</title>
        <style>
            main {
                margin-inline: auto;
                max-width: 80vw;
            }


            .logo {
                position: fixed;
                top: 0;
                left: 0;
                width: 80px;
                height: 60px;
            }

            body {
                background: #eee;
            }
        </style>
    </head>
    <body>
        <a href="/"><div class="logo"><Logo /></div></a>
        <main class="prose lg:prose-xl">
            <slot />
        </main>
    </body>
</html>
