---
import Logo from "../logo.astro";
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <title>{frontmatter.title}</title>
        <style>
            main {
                margin-inline: auto;
                max-width: 80vw;
                margin-top: 2rem;
            }
            body {
                background: #eee;
            }
        </style>
    </head>
    <body>
        <Logo/>
        <main class="prose lg:prose-xl">
            <slot />
        </main>
    </body>
</html>
