---
import Layout from "../components/layouts/base.astro";
const imgs = await Astro.glob("../assets/img/blender/lg/*.webp").then(
    (files) => {
        return files.map((file) => file.default);
    }
);
import { onlyFileName } from "~/utils";
---

<Layout title="Blender 3D">


        {imgs.map(img =>
            <a name={onlyFileName(img.src)}></a>
            <img src={img.src} width={img.width} height={img.height} loading="lazy" alt=""/>
        )}


</Layout>

