---
import Logo from "~/components/logo.astro";
import Layout from "../components/layouts/base.astro";
const imgs = await Astro.glob("../assets/img/blender/lg/*.webp").then(
    (files) => {
        return files.map((file) => file.default);
    }
);
//import { Debug } from "astro/components";
---

<Layout title="Blender Pics">
    <Logo />

    <main class="grid">
        {imgs.map(img =>
            <a name={img.src.substring(img.src.lastIndexOf('/')).replace('/','')}></a>
            <img src={img.src}  loading="lazy" alt=""/>
        )}
    </main>

</Layout>

<style>

img{
    width:100%;

    display:block;
}
</style>
