---
import Layout from "../components/layouts/base.astro";
const imgs = await Astro.glob("../assets/img/blender/lg/*.webp").then(
    (files) => {
        return files.map((file) => file.default);
    }
);
---

<ul>
    {
        imgs.map((img) => (
            <li>
                <img src={img.src} height="300" loading="lazy" alt="" />
            </li>
        ))
    }

    <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
    <li></li>
</ul>



<style>
uul {
  display: flex;
  flex-wrap: wrap;
}

li {
  height: 40vh;
  flex-grow: 1;
}

li:last-child {
  flex-grow: 10;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}
@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }

  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
</style>
