---
import Layout from "../components/layouts/base.astro";
const imgs = await Astro.glob("../assets/img/blender/thumb/*.webp").then(
    (files) => {
        return files.map((file) => file.default);
    }
);
import { Debug } from "astro/components";
---

<Layout>
    <main class="grid">
        {imgs.map(img =>

            <img src={img.src}  loading="lazy" alt=""/>
        )}
    </main>

</Layout>

<style>
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
}
/* img{
    width:100%;

    display:block;
} */
</style>
