<!DOCTYPE html>
<html>
<head>
  <title>My Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<div data-role="page">

  <div data-role="header">

  </div><!-- /header -->

  <div role="main" class="ui-content">
    <p>My content...</p>
  </div><!-- /content -->

  <div data-role="footer">
    <h4>My Footer</h4>
  </div><!-- /footer -->

</div><!-- /page -->

</body>
</html>