<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone demo</title>
    <style>
        iframe{width: 100vw; height: 100vh}
    </style>
</head>
<body>
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FMYGThvVbRIwTeWbuUvErS6%2Fqe-logo%3Fpage-id%3D100%253A136%26type%3Ddesign%26node-id%3D95-76%26viewport%3D74%252C1081%252C1%26t%3DpDxrgG2Ouay6ozDu-1%26scaling%3Dmin-zoom%26mode%3Ddesign" allowfullscreen></iframe>
</body>
</html>