---
import Layout from "../components/layouts/base.astro";
import { Image } from '@astrojs/image/components';
import figmaImg from "~/assets/img/figma/nursery.png"

---
        <style>
            body {
                margin: 0;
                background: #333333;
            }
            /* img {
                width: 100vw;

                display: block;
            } */
        </style>
<Layout>
  <div class="container mx-auto px-14 py-6">
    <h1 class="text-slate-100 text-6xl">Portfolio</h1>

        <Image src={figmaImg} format="webp" width="300"  class="rounded-xl" />
</div>
</Layout>
