---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  // {
  //   title: "React",
  //   icon: "frameworks/react",
  //   url: "https://reactjs.org/",
  // },
  // {
  //   title: "Preact",
  //   icon: "frameworks/preact",
  //   url: "https://preactjs.com/",
  // },
  {
    title: "Rails",
    icon: "frameworks/rails",
    url: "https://rubyonrails.org/",
  },
  {
    title: "Astro",
    icon: "frameworks/astro",
    url: "https://www.astro.build",
  },
  {
    title: "Svelte",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
];

const tools: Array<CompatibilityItem> = [
  {
    title: "Html",
    icon: "tools/html",
    url: "https://www.w3schools.com/html/",
  },
  {
    title: "CSS",
    icon: "tools/css",
    url: "https://www.w3schools.com/css/",
  },
  {
    title: "Javascript",
    icon: "tools/js",
    url: "https://www.w3schools.com/js/",
  },
  // {
  //   title: "Render",
  //   icon: "platforms/render",
  //   url: "https://render.com/",
  // },
  // {
  //   title: "GitHub",
  //   icon: "fa-brands:github",
  //   url: "https://pages.github.com/",
  // },
  // {
  //   title: "GitLab",
  //   icon: "fa-brands:gitlab",
  //   url: "https://docs.gitlab.com/ee/user/project/pages/",
  // },
];

const apps: Array<CompatibilityItem> = [
  {
    title: "Purefef",
    icon: "apps/pureref",
    url: "https://www.pureref.com/",
  },
  {
    title: "Figma",
    icon: "apps/figma",
    url: "https://www.figma.com/",
  },
  {
    title: "Krita",
    icon: "apps/krita",
    url: "https://krita.org/en/",
  },
  // {
  //   title: "Render",
  //   icon: "platforms/render",
  //   url: "https://render.com/",
  // },
  // {
  //   title: "GitHub",
  //   icon: "fa-brands:github",
  //   url: "https://pages.github.com/",
  // },
  // {
  //   title: "GitLab",
  //   icon: "fa-brands:gitlab",
  //   url: "https://docs.gitlab.com/ee/user/project/pages/",
  // },
];

---

<ContentSection title="Tools of the trade" id="compatibility">
  <Fragment slot="lead">
    Stay <span class="text-primary">on the Rails</span>. Or make it <span class="text-primary">static</span>.{" "}
    <span class="text-primary">Dynamic</span>
    where <span class="text-primary">needed</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={tools}
    title="Tools"
    url="https://docs.astro.build/guides/deploy/"
  />
  <CompatibilityList
  items={apps}
  title="Apps"
  url="https://docs.astro.build/guides/deploy/"
/>
</ContentSection>
