---
title: Welcome to Voodoo
---
<nav>
<ul>
<li><a href="/resume.html" title="Resume in HTML format">HTML</a></li>
<li><a href="/resume.pdf" title="Resume in PDF format">PDF</a></li>
<li><a href="https://github.com/voodoo/voodoo.github.io/wiki" title="See Paul's Github Wiki">More</a></li>

</ul>


</nav>

<div class="main">
<div class="content">
<img src="//avatars2.githubusercontent.com/u/23097?s=460&v=4" width="300" style="z-index: 2;position:relative;"/>

<h2> Paul Vudmaska</h2>
<h3> Simple minded</h3>
<h4>Developer &nbsp;| &nbsp; <b id="designer">D e s i g n e r</b></h4>
</ul>
</div>

<div class="p p-1"></div>
</div>

